.inner
  %h2 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .user_field
      = f.label :email, class: 'user-label'
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'user_text'
    .user_field
      = f.label :password, class: 'user-label'
      = f.password_field :password, autocomplete: "new-password", class: 'user_text'
    .user_field
      = f.label :password_confirmation, class: 'user-label'
      = f.password_field :password_confirmation, autocomplete: "new-password", class: 'user_text'
    .actions
      = f.submit "Submit", class: 'btn-primary'
