.user-inner
  %h2= t('devise.sessions.new.sign_in')
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .user-field
      = f.label :email, class: 'user-label'
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'user-text'
    .user-field
      = f.label :password, class: 'user-label'
      = f.password_field :password, autocomplete: "current-password", class: 'user-text'
    - if devise_mapping.rememberable?
      .user-field
        %label.custom-checkbox-wrapper
          = f.check_box :remember_me, class: 'visually-hidden'
          %span.custom-box
          = f.label :remember_me
    .user-actions
      = f.submit t('devise.sessions.new.sign_in'), class: 'btn-primary'

