.inner
  %h2 ボード一覧
  - @boards.each do |board|
    .board
      = link_to board_cards_path(board), class: 'board-link' do
        .board-content
          .board-title= board.title
          .board-description= board.description
      .board-cards
        - unless board.cards.empty?
          .board-cards-title カード一覧
        %ul.board-cards-list
          - board.cards.each do |card|
            %li.board-card
              = link_to board_card_path(board, card) do
                = card.title
  - if user_signed_in?
    = link_to new_board_path, class: 'board-create' do
      .board-create-content ＋ 新しいボードを作成
