.inner
  %h2 ボード一覧
  = form_with url: boards_path, method: :get, local: true, class: 'search-form is-board' do
    = text_field_tag :q, params[:q], placeholder: "ボード名を入力", class: 'filter-box'
    .search-buttons
      = submit_tag "検索", class: 'filter-button'
      = link_to "リセット", boards_path, class: 'filter-button'
  .boards
    - @boards.each do |board|
      = link_to board_cards_path(board), class: 'board' do
        .board-top
          .board-content
            .board-title= board.title
            .board-description= board.description
          .board-author
            %p 管理者
            .board-image= image_tag board.user.avatar_image
            .board-name= board.user.display_name
        .board-cards
          - unless board.cards.empty?
            .board-cards-title カード一覧
          %ul.board-cards-list
            - board.cards.each do |card|
              %li.board-card= card.title
  - if user_signed_in?
    = link_to new_board_path, class: 'board-create' do
      .board-create-content ＋ 新しいボードを作成
