.inner
  %h2 ボード一覧
  = search_form_for @q, url: boards_path, method: :get, html: { class: 'search-form is-board' } do |f|
    .search-item
      .search-sorts
        %p= sort_link(@q, :id, "ボード番号", class: 'filter-button')
    .search-item
      = f.search_field :title_cont, placeholder: "ボード名を入力", class: 'filter-box'
      .search-buttons
        = f.submit "検索", class: 'filter-button'
        = link_to "リセット", boards_path, class: 'filter-button'
  .boards
    - @boards.each do |board|
      = link_to board_path(board), class: 'board' do
        .board-top
          .board-content
            .board-title
              %span= "B%03d:" % board.id
              = board.title
            .board-description= board.description
          .board-author
            %p 管理者
            .board-image= image_tag board.user.avatar_image
            .board-name= board.user.display_name
        .board-cards
          - unless board.cards.empty?
            .board-cards-title カード一覧
          %ul.board-cards-list
            - board.cards.each do |card|
              %li.board-card
                %span= "C%03d:" % card.id
                = card.title
  .pagination-wrapper
    = paginate @boards, params: request.query_parameters, theme: nil
  - if user_signed_in?
    = link_to new_board_path, class: 'board-create' do
      .board-create-content ＋ 新しいボードを作成
