.inner
  .board-back= link_to '＜ ボード一覧に戻る', root_path()
  .card-top
    .card-title
      %h2= @board.title
      %h3= @board.description
    - if user_signed_in? && current_user.boards.exists?(id: @board.id)
      .card-actions
        .card-icon
          = image_tag 'actions.svg', alt: 'Actions Icon'
          .dropdown-content.mini
            = link_to '編集する', edit_board_path(@board)
            = link_to '削除する', board_path(@board), data: { turbo_method: 'delete', turbo_confirm: '本当に削除してもよろしいですか？' }
    - else
      .board-author
        %p 管理者
        .board-image
          = image_tag @board.user.avatar_image
        .board-name= @board.user.display_name

  .filter
    = search_form_for @q, url: board_path(@board), method: :get, html: { class: 'search-form' } do |f|
      .search-item
        .search-sorts
          %p= sort_link(@q, :title, "タイトル", class: 'filter-button')
          %p= sort_link(@q, :status, "ステータス", class: 'filter-button')
          %p= sort_link(@q, :deadline, "締切", class: 'filter-button')
          %p= sort_link(@q, :user_profile_nickname, "担当者", class: 'filter-button')
      .search-item
        = f.search_field :title_cont, placeholder: "タイトルを入力", class: 'filter-box'
        .search-buttons
          = f.submit "検索", class: 'filter-button'
          = link_to "リセット", board_path(@board), class: 'filter-button'
  :javascript
    document.addEventListener("turbo:load", function () {
      // クエリ削除（初回ロード時のみ）
      if (window.location.search.length > 0) {
        const url = new URL(window.location.href);
        url.search = "";
        history.replaceState(null, "", url);
      }
    });
    // ブラウザバック検出してリロード
    window.addEventListener("pageshow", function (event) {
      const navType = performance.getEntriesByType("navigation")[0]?.type;
      if (event.persisted || navType === "back_forward") {
        location.reload();
      }
    });


  .cards
    - @cards.each do |card|
      .cards-item
        = link_to board_card_path(@board, card), class: 'cards-link', data: { turbo: false } do
          .cards-content-top
            .cards-title= card.title
          .cards-content-middle
            .cards-status
              %p= image_tag 'status.svg'
              %p= t("enums.card.status.#{card.status}")
            .cards-deadline
              %p= image_tag 'deadline.svg'
              %p= card.deadline
          .cards-description= card.description
          .cards-content-bottom
            .cards-author
              %p 担当者
              .cards-image
                = image_tag card.user.avatar_image
              .cards-name= card.user.display_name
            .cards-comment
              .cards-comment-number= card.comment_count
              .cards-comment-icon
                = image_tag 'comment.svg'

  - if user_signed_in?
    = link_to new_board_card_path(@board), class: 'create' do
      .create-content ＋ 新しいカードを追加