.inner
  %h2= @board.title
  - next_direction = params[:direction] == 'asc' ? 'desc' : 'asc'
  .filter
    = form_with url: board_cards_path(@board), method: :get, local: true, class: 'search-form' do
      .search-form
        = select_tag :sort,options_for_select([['タイトル', 'title'],['ステータス', 'status'],['締切', 'deadline'],['担当者', 'nickname']], params[:sort]),class: 'filter-box'
        - current_direction = params[:direction] || 'asc'
        - next_direction = params[:direction] == 'asc' ? 'desc' : 'asc'
        = hidden_field_tag :direction, next_direction
        = hidden_field_tag :q, params[:q]   # ← これが重要！
        - button_label = current_direction == 'asc' ? '並び替え ↓' : '並び替え ↑'
        = submit_tag button_label, class: 'filter-button'

    = form_with url: board_cards_path(@board), method: :get, local: true, class: 'search-form' do
      = text_field_tag :q, params[:q], placeholder: "タイトルを入力", class: 'filter-box'
      .search-buttons
        = submit_tag "検索", class: 'filter-button'
        = link_to "リセット", board_cards_path(@board), class: 'filter-button'
  .cards
    - @cards.each do |card|
      .cards-item
        = link_to board_card_path(@board, card), class: 'cards-link' do
          .cards-content-top
            .cards-title= card.title
          .cards-content-middle
            .cards-status
              %p= image_tag 'status.svg'
              %p= t("enums.card.status.#{card.status}")
            .cards-deadline
              %p= image_tag 'deadline.svg'
              %p= card.deadline
          .cards-description= card.description
          .cards-content-bottom
            .cards-author
              .cards-image
                = image_tag card.user.avatar_image
              .cards-name= card.user.display_name
            .cards-comment
              .cards-comment-number= card.comment_count
              .cards-comment-icon
                = image_tag 'comment.svg'

  - if user_signed_in?
    = link_to new_board_card_path(@board), class: 'create' do
      .create-content ＋ 新しいカードを追加