.inner
  %h2= @board.title
  - @cards.each do |card|
    .cards
      = link_to board_card_path(@board, card), class: 'cards-link' do
        - if card.eyecatch.attached?
          .cards-image
            = image_tag card.eyecatch
        .cards-content-top
          .cards-title= card.title
          .cards-description= card.description
        .cards-content-bottom
          .cards-profile
            = image_tag 'default-avatar.png'
          .cards-comment
            .cards-comment-number= card.comment_count
            .cards-comment-icon
              = image_tag 'comment.svg'

  -#  このボードに紐づく新しいカード作成ページへのリンクを作る
  = link_to new_board_card_path(@board), class: 'newcards' do
    .newcards-content ＋ 新しいカードを追加