.inner
  .card
    .card-top
      %h2.card-title= @card.title
      - if user_signed_in? && current_user.boards.exists?(id: @board.id)
        .card-actions
          .card-icon
            = image_tag 'actions.svg', alt: 'Actions Icon'
            .dropdown-content.mini
              = link_to '編集する', edit_board_card_path(@card)
              = link_to '削除する', board_card_path(@board, @card), data: { turbo_method: 'delete', turbo_confirm: '本当に削除してもよろしいですか？' }
    .card-status
      .card-progress
        %p= image_tag 'status.svg'
        %p= '進行中'
      .card-deadline
        %p= image_tag 'deadline.svg'
        %p= '2025/7/15'
    .card-text
      .card-description
        = @card.description
        .card-comment-date= '2025/07/31'
      .card-author
        .card-image
          = image_tag @card.user.avatar_image
        .card-name= @card.user.display_name

    .card-comment
      .card-comment-title
        %p= 'Comment'

      - @comments.each do |comment|
        .card-comment-content
          .card-author
            .card-image
              = image_tag comment.user.avatar_image
            .card-name= comment.user.display_name
          .card-comment-text
            %p= comment.content
            .card-comment-date= '2025/07/31'

  = link_to new_board_card_comment_path(@board, @card), class: 'create' do
    .create-content ＋ 新しいコメントを追加