!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Right Taskapp"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    %header.header
      .header_logo
        / ヘッダーロゴの遷移先をルートに設定
        %p.header_pageTitle
          = link_to 'Board', root_path
      / ユーザー表示をサインインしている場合に限定する
      - if user_signed_in?
        .header_avatar
          / アバター画像を表示
          = image_tag 'default-avatar.png', class: 'header_avatar'

    / flashメッセージを表示
    - flash.each do |type, message|
      .flash{ class: "flash-#{type}" }= message

    = yield
